.main {
  max-height: 50vh;
}

.main-content {
  padding: 10px;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--white);
}

.punk-highlight {
  flex: 0.25;
  display: flex;
  align-items: center;
  justify-content: center;
}

.punk-container {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  margin-right: 20px;
}

.selected-punk {
  object-fit: contain;
  max-width: min(30vw, 40vh);
  max-height: 30vw;
}

.punk-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 0.75;
  color: white;
}

.punk-title{
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: 96px;
  font-weight: 800;
}
.item-number {
  color: #a1a5b0;
  font-size: 72px;
  align-self: center;
}

.owner {
  display: flex;
  margin: 10px 0;
  height: 50px;
}

.owner > div {
  margin: 0 5px;
}

.owner-image-container {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
  object-fit: contain;
}

.ownerimage-container img {
  width: 100%;
  height: 100%;
}

.owner-details {
  display: flex;
  align-items: center;
  flex: 1;
}

.owner-name-and-handle {
  flex: 1;
  color: white;
}
.owner-handle {
  color: #00ebfe;
}

.owner-link {
  padding: 12px;
  border-radius: 50px;
  height: 50px;
  height: 50px;
  border: 1px solid #fff;
  margin: 0 0 0 10px;
  cursor: pointer;
}
.owner-link img {
  width: 100%;
  height: 100%;
}
